{% extends "index.html" %}
{% block plot_area %}
<script type="text/javascript" src="static/map_inspector/config/plot_area_config.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry&key=AIzaSyA49kj7ma6Cp_ozkNEEOaabwSqdEEtiwtQ
&v=3"></script>
    <div id="map"></div>

{% endblock %}